{% load static %}

<section id="autor-principal">
    <img class="img-circle" src="{% static 'blog/images/imagem-teste.png' %}"
        alt="Camila Freitas Arquitetura">
    <p class="chamada-main-author">Olá meu nome é Camila Freitas! Criei esse espaço para compartilhar com
        vocês
        trabalhos, inspirações...
    </p>
    <div class="text-black">
        <a href="https://facebook.com"><i class="fas fa-envelope main-author-icon"></i></a>
        <a href="https://facebook.com"><i class="fab fa-whatsapp main-author-icon"></i></a>
        <a href="https://facebook.com"><i class="fab fa-twitter main-author-icon"></i></a>
        <a href="https://facebook.com"><i class="fab fa-instagram main-author-icon"></i></a>
        <a href="https://facebook.com"><i class="fab fa-pinterest main-author-icon"></i></a>
    </div>
</section>

<div class="black bloco-titulo mt-4">
    <h2 class="center white-text">posts mais lidos</h2>
</div>

<section id="posts-recentes" class="mt-6">
    <div class="mt-4">
        <div class="row">
            <div class="col s4">
                <img class="responsive" src="{% static 'blog/images/Unfold Architecture+Design_03.jpg' %}" alt="">
            </div>
            <div class="col s8">
                <h4 class="popular-posts-header">Aurora Winter Bird</h4>
                <p class="popular-posts-date">16, Agosto, 2020 | Camila Freitas</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col s4">
                <img class="responsive" src="{% static 'blog/images/Unfold Architecture+Design_03.jpg' %}" alt="">
            </div>
            <div class="col s8">
                <h4 class="popular-posts-header">Aurora Winter Bird</h4>
                <p class="popular-posts-date">16, Agosto, 2020 | Camila Freitas</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col s4">
                <img class="responsive" src="{% static 'blog/images/Unfold Architecture+Design_03.jpg' %}" alt="">
            </div>
            <div class="col s8">
                <h4 class="popular-posts-header">Aurora Winter Bird</h4>
                <p class="popular-posts-date">16, Agosto, 2020 | Camila Freitas</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col s4">
                <img class="responsive" src="{% static 'blog/images/Unfold Architecture+Design_03.jpg' %}" alt="">
            </div>
            <div class="col s8">
                <h4 class="popular-posts-header">Aurora Winter Bird</h4>
                <p class="popular-posts-date">16, Agosto, 2020 | Camila Freitas</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>

<div class="black bloco-titulo mt-4">
    <h2 class="center white-text">Categorias</h2>
</div>

<section id="categorias" class="mt-6">
    <ul class="collection">
        <li class="collection-item transparent">Mobiliário <span class="categorias-numeros"></span>(02)</li>
        <li class="collection-item transparent">Escritórios <span class="categorias-numeros"></span>(15)</li>
        <li class="collection-item transparent">Ergonomia <span class="categorias-numeros"></span>(04)</li>
        <li class="collection-item transparent">Sala <span class="categorias-numeros">(08)</span></li>
        <li class="collection-item transparent">Cozinha <span class="categorias-numeros">(10)</span></li>
    </ul>
</section>