.cinza-claro {
    color: #f3f3f3
}

.cinza-medio {
    color: #808080
}

.cinza-escuro {
    color: #4d4d4d
}


.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}

.mt-6 {
    margin-top: 30px;
}


body {
    background: #f3f5f6;
    /* font-family: 'Zilla Slab', serif; */
    font-family: 'Lora', serif;
}

/* Navbar Início */
nav {
    min-height: 80px;
}

.nav-preta {
    background: #202729;
}

.black {
    background: #202729 !important;
}

.black-text {
    color: #202729 !important;
}

.navbutton {
    border: 1px solid #f3f5f6;
}

.navbutton:hover {
    background-color: rgb(243, 243, 243) !important;
    color: #202729 !important;
    border: 1px solid #f3f5f6;
}

nav .button-collapse {
    margin: 0;
}

.brand-logo img {
    padding-top: 10px;
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 250px;

}

/* Navbar fim */


.margin-column {
    margin-top: 0px;
    margin-right: 2%;
}

.main-content {
    margin-top: 40px
}

.bloco-titulo h2 {
    font-size: 15px !important;
    margin: 0px;
    padding: 15px 0;
    letter-spacing: 2px;
}

.bloco-titulo {
    background-color: #202729 !important;
    text-transform: uppercase;
}

.img-circle {
    margin-top: 30px;
    border-radius: 50%;
    max-width: 176px;
    height: 176px;
    object-fit: cover;
}

/* Main Card */

.card-main {
    margin-top: 0px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.card-border {
    border: 1px solid #80787d41;
}

.card-main .card-content {
    padding: 10px;
}

.card-tag {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.card-title {
    text-transform: uppercase;
    font-size: 23px !important;
}

.card-date {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #808080;
    letter-spacing: 2px;
}

.main-author-icon {
    color: #202729;
    margin: 0 5px;
}

.main-author-icon:hover {
    color: #808080;
}

.chamada-main-author {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 14px;
}

/* Divisor início */

.divisor-sem-fundo {
    border: 1px solid #80787d41;
    margin-top: 30px;
}

.divisor-sem-fundo p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Divisor Fim */

/* Posts recentes (início) */

.post-series-tag {
    text-align: left;
    margin: 0;
    padding: 0;
}

.post-series-title {
    text-align: left;
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-series-date {
    text-align: left;
    color: #808080;
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Posts recentes (fim) */

/* Popular Posts (início) */
.popular-posts-header {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 7px;
}

.popular-posts-date {
    text-align: left;
    color: #808080;
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Popular Posts (fim) */

/* Categorias (início) */
#categorias .collection {
    border: none;
}

#categorias .collection li {
    text-align: left;
    border-top: none !important;
}

#categorias a,
#categorias a:visited,
#categorias a:active {
    color: inherit;
}

#categorias a:hover {
    color: #808080;
}

/* Categorias (fim) */