{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <head>
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Fontawesome Icons -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!-- Materialize Css Minified -->
        <link type="text/css" rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}"
            media="screen,projection" />
        <!-- Andrevv Custom Css  -->
        <link type="text/css" rel="stylesheet" href="{% static 'blog/css/main.css' %}" />
        <!-- Avisar ao navegador que o site esta otimizado para Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Título -->
        <title>Materialize Theme</title>
    </head>
</head>

<body>

    {% include 'blog/includes/navbar.html' %}

    {% block content %}
    {% endblock content %}
    <!-- Import jQuery antes do materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Custom JS e jQuery aqui...
            $('.button-collapse').sideNav();
        });
    </script>
</body>

</html>