{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row main-content ">
        <div class="col s12 m7 margin-column">
            <div class="card transparent z-depth-0 card-main card-border">
                <div class="card-img">
                    <img class="responsive" src="{% static 'blog/images/quarto - cimento quiemado.jpg' %}" alt="">
                </div>
                <div class="center">
                    <p class="card-tag">fashion</p>
                    <span class="card-title ">Modelos de Cabeceira</span>
                    <p class="card-date">16, Agosto, 2020 | Camila Freitas</p>
                </div>
            </div>
            <div class="center divisor-sem-fundo">
                <p>POSTS RECENTES</p>
            </div>
            <div class="para-for">
                <div class="">
                    <div class="row mt-6">

                        <div class="col s12 m6">
                            <img class="responsive" src="{% static 'blog/images/nicho-escritorio.jpg' %}"
                                alt="">
                        </div>
                        <div class="col s12 m6 ">
                            <p class="post-series-tag">TRAVEL</p>
                            <h3 class="post-series-title">Cores e mais cores</h3>
                            <p class="post-series-date">16, Agosto, 2020 | Camila Freitas</p>
                            <p class="post-series-content">Far far away, behind the word mountains, far from the
                                countries
                                Vokalia and Consonantia, there live the blind texts. Separated they live</p>
                            <p class="post-series-action">Ler mais</p>
                        </div>
                    </div>

                </div>
                <div class="divider"></div>
            </div>
            <div class="para-for">
                <div class="">
                    <div class="row mt-6">

                        <div class="col s12 m6">
                            <img class="responsive" src="{% static 'blog/images/Unfold Architecture+Design_01.jpg' %}"
                                alt="">
                        </div>
                        <div class="col s12 m6 ">
                            <p class="post-series-tag">TRAVEL</p>
                            <h3 class="post-series-title">Cores e mais cores</h3>
                            <p class="post-series-date">16, Agosto, 2020 | Camila Freitas</p>
                            <p class="post-series-content">Far far away, behind the word mountains, far from the
                                countries
                                Vokalia and Consonantia, there live the blind texts. Separated they live</p>
                            <p class="post-series-action">Ler mais</p>
                        </div>
                    </div>

                </div>
                <div class="divider"></div>
            </div>

            <div class="para-for">
                <div class="">
                    <div class="row mt-6">

                        <div class="col s12 m6">
                            <img class="responsive" src="{% static 'blog/images/sala2arquitetura_04.jpg' %}"
                                alt="">
                        </div>
                        <div class="col s12 m6 ">
                            <p class="post-series-tag">TRAVEL</p>
                            <h3 class="post-series-title">Cores e mais cores</h3>
                            <p class="post-series-date">16, Agosto, 2020 | Camila Freitas</p>
                            <p class="post-series-content">Far far away, behind the word mountains, far from the
                                countries
                                Vokalia and Consonantia, there live the blind texts. Separated they live</p>
                            <p class="post-series-action">Ler mais</p>
                        </div>
                    </div>

                </div>
                <div class="divider"></div>
            </div>


            <div class="para-for">
                <div class="">
                    <div class="row mt-6">

                        <div class="col s12 m6">
                            <img class="responsive" src="{% static 'blog/images/Unfold Architecture+Design_03.jpg' %}"
                                alt="">
                        </div>
                        <div class="col s12 m6 ">
                            <p class="post-series-tag">TRAVEL</p>
                            <h3 class="post-series-title">Cores e mais cores</h3>
                            <p class="post-series-date">16, Agosto, 2020 | Camila Freitas</p>
                            <p class="post-series-content">Far far away, behind the word mountains, far from the
                                countries
                                Vokalia and Consonantia, there live the blind texts. Separated they live</p>
                            <p class="post-series-action">Ler mais</p>
                        </div>
                    </div>

                </div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="col s12 m4 center margin-column">
            <div class="black bloco-titulo">
                <h2 class="center white-text">Sobre mim</h2>
            </div>
            <section>
                {% include 'blog/includes/home-main-author.html' %}
            </section>
        </div>
    </div>

</div>

{% endblock content %}